body {
    background-color: black;
}

section {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-family: Pacifico;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }