body {
    background-color: black;
}

h1 {
    font-family: fantasy;
    font-size: 50px;
    color: greenyellow;
}

section {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }